@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f3f7fa;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  margin: auto;
}

.sidebar {
  width: 100%;
  min-width: 300px;
  max-width: 350px;
  height: fit-content;
  background-color: white;
  border-radius: 0.5rem;
  padding-inline: 0.5rem;
  padding-block: 2rem;
}

.office {
  display: flex;
  width: 100%;
  justify-content: space-between;
  min-height: 800px;
  position: relative;
  padding: 1.5rem;
}

.office-bg {
  position: absolute;
  inset: 1.5rem;
  z-index: -1;
}

.office-bg > img {
  width: 100%;
  height: 100%;
}

.left-office {
  height: 100%;
  width: 38.7%;
  padding: 0.95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.left-office > div:first-child {
  width: 100%;
  min-height: 200px;
  height: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.left-office > div:last-child {
  width: 100%;
  min-height: 300px;
  height: 58.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.right-office {
  width: 46%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 0.95%;
  gap: 0.5rem;
}

.right-office > div:first-child {
  min-height: 208px;
  height: 32%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.right-office > div:first-child > div {
  width: 49%;
  min-height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.right-office > div:last-child {
  min-height: 170px;
  height: 32%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.right-office > div:last-child > div {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-emp-add {
  width: fit-content;
  display: flex;
  padding-inline: 0.9rem;
  padding-block: 0.4rem;
  border-radius: 5px;
  background-color: #2196f3;
  border: none;
  color: whitesmoke;
}

.list-employee {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.employee {
  width: 100%;
  max-width: 120px;
  max-height: 80px;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.1rem;
  padding: 0.5rem 0.2rem;
}

.employee-name {
  display: flex;
  flex-direction: column;
}
.employee-name p {
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: capitalize;
}

.employee-name p:last-child {
  color: rgb(156, 156, 156);
}

.avatar {
  width: 2rem;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.delete {
  border: 2px solid red;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border-radius: 5px;
}

.sidebar-title {
  font-size: 1.3rem;
  color: rgb(78, 78, 78);
  text-align: center;
}

.unassigned-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  list-style-type: none;
  text-transform: capitalize;
  margin-top: 0.7rem;
}
.unassigned-list li {
  width: 100%;
  display: flex;
  background-color: #f3f7fa;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 10px;
}

.unassigned-list li > div > p {
  font-size: 0.8rem;
}

.unassigned-list li > div:first-child {
  width: 3rem;
  border: 2px solid white;
}

.edite {
  margin-left: auto;
  color: #e5a85c;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
}

.add-worker {
  background-color: green;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5px;
  border: none;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
  width: fit-content;
  display: block;
  margin: auto;
  margin-block: 1.5rem;
}

.add-worker:hover {
  opacity: 0.7;
}
.unassigned-list li:hover {
  opacity: 0.9;
}

@media screen and (max-width: 920px) {
  .main {
    flex-direction: column;
    align-items: center;
    padding-inline: 1rem;
  }
  .right-office,
  .left-office {
    height: unset;
  }

  .right-office > div:last-child {
    height: fit-content;
  }
  .sidebar {
    max-width: unset;
    width: 100%;
  }

  .unassigned-list li {
    width: fit-content;
  }
  .office {
    padding: 0;
  }
  .office-bg {
    inset: 0;
  }
}

.form-modal {
  background-color: rgba(0, 0, 0, 0.384);
  backdrop-filter: blur(5px);
  position: absolute;
  inset: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-block: 4rem;
  padding-inline: 1rem;
  height: max-content;
}

.add-edit-form {
  width: 600px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.field input {
  padding-inline: 0.2rem;
}

.field input,
.field select {
  height: 35px;
  border-radius: 9px;
  border: 2px solid rgba(175, 171, 171, 0.562);
  font-weight: 500;
}
.field p {
  color: red;
}

.add-edit-form label {
  font-weight: 500;
}

.image-filed {
  width: 8rem;
  height: 8rem;
  border: 2px dotted gray;
  border-radius: 50%;
}
.image-filed > img {
  width: 100%;
  height: 100%;
}

.experience {
  padding: 0.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filed-container {
  width: 100%;
  padding: 0.5rem;
  background-color: rgba(211, 210, 210, 0.425);
  border-radius: 10px;
  border: 2px solid rgba(211, 210, 210, 0.322);
}

.add-exp-btn {
  border: none;
  padding-block: 0.7rem;
  padding-inline: 0.8rem;
  border-radius: 10px;
  background-color: rgb(82, 190, 82);
  text-transform: capitalize;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
.add-exp-btn:hover {
  opacity: 0.8;
}

.is-hidden {
  display: none;
}

.action-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.5rem;
}

.action-buttons button {
  border: none;
  padding-inline: 0.8rem;
  padding-block: 0.6rem;
  border-radius: 10px;
  background-color: rgb(63, 63, 235);
  text-transform: capitalize;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
.action-buttons button {
  opacity: .7;
}

.add-experience-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}