@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f3f7fa;
  position: relative;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  margin: auto;
}

.sidebar {
  width: 100%;
  min-width: 300px;
  max-width: 350px;
  height: fit-content;
  background-color: white;
  border-radius: 0.5rem;
  padding-inline: 0.5rem;
  padding-block: 2rem;
}

.office {
  display: flex;
  width: 100%;
  justify-content: space-between;
  min-height: 800px;
  height: max-content;
  position: relative;
  padding: 1.5rem;
}

.office-bg {
  position: absolute;
  inset: 1.5rem;
  z-index: -1;
}

.office-bg > img {
  width: 100%;
  height: 100%;
}

.left-office {
  width: 38.7%;
  padding: 0.95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.left-office > div:first-child {
  width: 100%;
  min-height: 200px;
  height: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.left-office > div:last-child {
  width: 100%;
  min-height: 300px;
  height: 66.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.right-office {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 0.95%;
  gap: 0.5rem;
}

.right-office > div:first-child {
  min-height: 208px;
  height: 33.1%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.right-office > div:first-child > div {
  width: 49%;
  min-height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.right-office > div:last-child {
  min-height: 170px;
  height: 32%;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 0.9rem;
}

.right-office > div:last-child > div {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-office > div:last-child > div:first-child {
  width: 47.2%;
}

.room-emp-add {
  width: fit-content;
  display: flex;
  padding-inline: 0.9rem;
  padding-block: 0.4rem;
  border-radius: 5px;
  background-color: #2196f3;
  border: none;
  color: whitesmoke;
  margin-block: auto;
  cursor: pointer;
  transition: background 0.3s linear;
}

.room-emp-add:hover {
  background-color: #2d628d;
}

.list-employee {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.room {
  background-color: rgba(255, 0, 0, 0.192);
}

.employee {
  width: 100%;
  max-width: 120px;
  max-height: 80px;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.1rem;
  padding: 0.5rem 0.2rem;
}

.employee-name {
  display: flex;
  flex-direction: column;
}
.employee-name p {
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: capitalize;
}

.employee-name p:last-child {
  color: rgb(156, 156, 156);
}

.avatar {
  width: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.delete {
  border: 2px solid red;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border-radius: 5px;
}

.sidebar-title {
  font-size: 1.3rem;
  color: rgb(78, 78, 78);
  text-align: center;
  margin-bottom: 1rem;
}

.unassigned-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
  text-transform: capitalize;
  margin-top: 0.7rem;
}
.unassigned-list li {
  width: 100%;
  max-width: 300px;
  display: flex;
  background-color: #f3f7fa;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}
.unassigned-list li {
  border: 2px solid black;
  scale: 1.1;
}

.unassigned-list li > div > p {
  font-size: 0.8rem;
}

.unassigned-list li > div:first-child {
  width: 3rem;
  border: 2px solid white;
}

.edite {
  margin-left: auto;
  color: #e5a85c;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
}
.green {
  background-color: green;
}

.btn {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5px;
  border: none;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
  width: fit-content;
  display: block;
  margin: auto;
  margin-block: 1.5rem;
}

.btn:hover {
  opacity: 0.7;
}
.unassigned-list li:hover {
  opacity: 0.9;
}

@media screen and (max-width: 920px) {
  .main {
    flex-direction: column;
    align-items: center;
    padding-inline: 1rem;
  }
  .right-office,
  .left-office {
    height: unset;
  }

  /* .right-office > div:last-child {
    height: fit-content;
  } */
  .sidebar {
    max-width: unset;
    width: 100%;
  }

  .unassigned-list {
    width: fit-content;
    margin: auto;
  }

  .office {
    padding: 0;
  }
  .office-bg {
    inset: 0;
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.384);
  backdrop-filter: blur(5px);
  position: absolute;
  inset-inline: 0;
  top: 0;
  padding-block: 4rem;
  padding-inline: 1rem;
  min-height: max-content;
  height: 100%;
}

.form-modal {
  display: flex;
  align-items: start;
  justify-content: center;
}

.add-edit-form {
  width: 600px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.field input {
  padding-inline: 0.2rem;
}

.field input,
.field select {
  height: 35px;
  border-radius: 9px;
  border: 2px solid rgba(175, 171, 171, 0.562);
  font-weight: 500;
}
.field p {
  color: red;
}

.add-edit-form label {
  font-weight: 500;
}

.image-field {
  width: 8rem;
  height: 8rem;
  border: 2px dotted gray;
  border-radius: 50%;
}
.image-field > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.experience {
  padding: 0.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filed-container {
  width: 100%;
  padding: 0.5rem;
  background-color: rgba(211, 210, 210, 0.425);
  border-radius: 10px;
  border: 2px solid rgba(211, 210, 210, 0.322);
}

.green {
  background-color: rgb(82, 190, 82);
}

.btn {
  border: none;
  padding-block: 0.7rem;
  padding-inline: 0.8rem;
  border-radius: 10px;
  text-transform: capitalize;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

.is-hidden {
  display: none !important;
}

.action-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.5rem;
}
.add-exp-btn {
  margin: unset;
  margin-right: auto;
}

.action-buttons button {
  border: none;
  padding-inline: 0.8rem;
  padding-block: 0.6rem;
  border-radius: 10px;
  background-color: rgb(63, 63, 235);
  text-transform: capitalize;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
.action-buttons button:hover {
  opacity: 0.7;
}

.add-experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.info-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-modal-container {
  max-width: 600px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
}

.info-modal-container button {
  margin: 0;
  margin-right: auto;
}

.main-info-field {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-info-field .image-filed {
  border: 2px solid gray;
}

.main-info-field > div:last-child {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-info-field > div:last-child p:first-child {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.main-info-field > div:last-child p:last-child {
  font-size: 1rem;
  color: green;
}

hr {
  width: 100%;
  height: 2px;
  margin-top: -5px;
}

.personal-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  background-color: #f3f7fa;
  padding: 1.5rem;
  border-radius: 10px;
}

.info-line span {
  font-weight: 600;
  text-transform: capitalize;
}

.info-modal-container h3 {
  width: 100%;
  text-transform: capitalize;
}

.experience-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.experience-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  background-color: rgba(209, 208, 208, 0.247);
  padding: 1.5rem;
  border-radius: 10px;
}

.experience-row .info-line:nth-child(2) {
  text-transform: uppercase;
}

.unassigned-list-container {
  display: flex;
  justify-content: center;
  padding-block: 4rem;
}

.unassigned-list-container h2 {
  color: #2196f3;
  text-transform: capitalize;
  width: fit-content;
  text-align: center;
}

.unassigned-list-container > div {
  max-width: 600px;
  width: 100%;
  height: fit-content;
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.unassigned-list-container > div > button {
  width: fit-content;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  right: 1.5rem;
  top: 1.7rem;
  cursor: pointer;
}

.unassigned-list-container ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.unassigned-list-container li {
  width: 100%;
  display: flex;
  gap: 1rem;
  background-color: #f3f7fa;
  padding: 1rem;
  border-radius: 10px;
}

.name-role p:first-child {
  text-transform: capitalize;
  font-weight: bold;
}

.name-role p:last-child {
  font-size: 0.8rem;
}

.unassigned-list-container .image img {
  width: 100%;
}

.unassigned-list-container .image {
  max-width: 3.5rem;
  max-height: 3.5rem;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.danger {
  border: 2px solid rgba(255, 0, 0, 0.596);
  box-shadow: 1px 1px 10px rgba(255, 0, 0, 0.493);
}
.good {
  border: 2px solid rgba(23, 201, 62, 0.699);
  box-shadow: 1px 1px 10px rgba(23, 201, 62, 0.699);
}

.toast {
  background-color: white;
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: fit-content;
  padding-block: 0.5rem;
  padding-inline: 1.2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  z-index: 10;
}

.toast h2 {
  font-size: 1.2rem;
  color: red;
}
.toast p {
  color: red;
}
.toast > div:first-child p {
  font-size: 0.9rem;
}
.toast > div:first-child p::first-letter {
  text-transform: uppercase;
}

.toast.good > div:first-child h2 {
  color: rgba(23, 201, 62, 0.699);
}
.toast.good > div:first-child p {
  color: rgba(11, 117, 34, 0.973);
}

.toast.danger > div:last-child:hover {
  background-color: rgba(255, 0, 0, 0.637);
}
.toast.good > div:last-child:hover {
  background-color: rgba(23, 201, 62, 0.699);
}
.toast.danger > div:last-child:hover {
  color: white;
}

.toast.good > div:last-child:hover {
  background-color: rgba(23, 201, 62, 0.699);
  color: white;
}

.toast > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: color 0.1s linear, background 0.1s linear;
  cursor: pointer;
}

.search-filter-inp{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  padding-block: 1rem;
}
.search-filter-inp input, .search-filter-inp select{
  width: 100%;
  height: 35px;
  padding-inline: .5rem;
  font-weight: 500;

  border: 2px solid gray;
  border-radius: 8px;
}
.search-filter-inp select{
  text-transform: capitalize;
}

@media screen and (max-width: 920px) {
  .search-filter-inp{
    max-width: 250px;
    flex-direction: column;
    margin: auto;
  }
}
